# Task 4.8 Grouping Data and Aggregating Variables

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import Data
path = r'/Users/melanie/Desktop/7:2022 Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_renamed2.pkl'))

In [4]:
df = ords_prods_merge

In [5]:
df.shape

(32433030, 21)

In [6]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,...,order_hour_of_day,days_since_previous_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,price_range_loc,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,11,3.0,5,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,17,20.0,1,1,both,Mid-range product,NaN,Mid-range product,Shortest days,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,21,6.0,20,0,both,Mid-range product,NaN,Mid-range product,Busiest days,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,13,NaN,10,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,17,9.0,11,1,both,Mid-range product,NaN,Mid-range product,Shortest days,Average orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,...,7,26.0,7,0,both,Mid-range product,NaN,Mid-range product,Busiest days,Average orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,...,14,30.0,2,0,both,Mid-range product,NaN,Mid-range product,Regularly busy,Most orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,...,10,30.0,1,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,...,20,19.0,1,0,both,Mid-range product,NaN,Mid-range product,Busiest days,Average orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,...,12,15.0,2,1,both,Mid-range product,NaN,Mid-range product,Busiest days,Most orders

In [7]:
# Grouping data and aggregating df dataframe
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.215751
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170371
12               15.887622
13               16.583304
14               16.759763
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The subset mean ranges from 14 to 24, and the entire dataframe mean ranges from 14 to 22.

In [8]:
# Aggregating data with transform() to create a loyalty flag
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,...,days_since_previous_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,3.0,5,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,20.0,1,1,both,Mid-range product,NaN,Mid-range product,Shortest days,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,6.0,20,0,both,Mid-range product,NaN,Mid-range product,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,NaN,10,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,9.0,11,1,both,Mid-range product,NaN,Mid-range product,Shortest days,Average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,602103,10831,8,...,23.0,5,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,49629,11119,18,...,30.0,1,0,both,Mid-range product,NaN,Mid-range product,Busiest days,Most orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,317888,11186,13,...,2.0,8,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,682486,11243,16,...,0.0,2,0,both,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,2861386,11448,10,...,3.0,6,0,both,Mid-range product,NaN,Mid-range product,Regularly busy,Most orders,21

In [10]:
# Deriving with loc() to create a loyalty flag
pd.options.display.max_rows = None

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15890458
Loyal customer      10293434
New customer         6249138
Name: loyalty_flag, dtype: int64

In [15]:
# Finding if price differs between loyalty categories
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388854  1.0  99999.0
New customer      13.294634  1.0  99999.0
Regular customer  12.496419  1.0  99999.0

The average price does vary between the loyalty catagories.

In [16]:
# Create a spending flag
ords_prods_merge.loc[ords_prods_merge['prices'] < 10 ,'spending_flag'] = 'Low spender'

In [17]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 10) & (ords_prods_merge['prices'] >= 10), 'spending_flag'] = 'Regular customer'

In [18]:
ords_prods_merge.loc[ords_prods_merge['prices'] >= 10 ,'spending_flag'] = 'High spender'

In [19]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     21760955
High spender    10672075
Name: spending_flag, dtype: int64

In [20]:
# Create an order frequency flag
ords_prods_merge['median_order_duration'] = ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.median)

In [21]:
ords_prods_merge[['user_id', 'days_since_previous_order', 'median_order_duration']].head()

   user_id  days_since_previous_order  median_order_duration
0      138                        3.0                    8.0
1      138                       20.0                    8.0
2      709                        6.0                    8.0
3      764                        NaN                    9.0
4      764                        9.0                    9.0

In [22]:
ords_prods_merge.loc[ords_prods_merge['median_order_duration'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_order_duration'] <= 20) & (ords_prods_merge['median_order_duration'] > 10), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_order_duration'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [33]:
ords_prods_merge[['user_id', 'median_order_duration', 'frequency_flag']].head(50)

    user_id  median_order_duration         frequency_flag
0       138                    8.0      Frequent customer
1       138                    8.0      Frequent customer
2       709                    8.0      Frequent customer
3       764                    9.0      Frequent customer
4       764                    9.0      Frequent customer
5       777                   11.0       Regular customer
6       825                   20.0       Regular customer
7       910                    6.0      Frequent customer
8      1052                   10.0      Frequent customer
9      1052                   10.0      Frequent customer
10     1379                   20.0       Regular customer
11     1480                    7.0      Frequent customer
12     1480                    7.0      Frequent customer
13     1480                    7.0      Frequent customer
14     1494                    7.0      Frequent customer
15     1494                    7.0      Frequent customer
16     1494                    7.0      Frequent customer
17     1540                    7.0      Frequent customer
18     1540                    7.0      Frequent customer
19     1540                    7.0      Frequent customer
20     1540                    7.0      Frequent customer
21     1540                    7.0      Frequent customer
22     1540                    7.0      Frequent customer
23     1540                    7.0      Frequent customer
24     1540                    7.0      Frequent customer
25     1540                    7.0      Frequent customer
26     1540                    7.0      Frequent customer
27     1540                    7.0      Frequent customer
28     1540                    7.0      Frequent customer
29     1540                    7.0      Frequent customer
30     1540                    7.0      Frequent customer
31     1540                    7.0      Frequent customer
32     1540                    7.0      Frequent customer
33     1540                    7.0      Frequent customer
34     1598                    2.0      Frequent customer
35     1598                    2.0      Frequent customer
36     1598                    2.0      Frequent customer
37     1647                   25.0  Non-frequent customer
38     1647                   25.0  Non-frequent customer
39     1647                   25.0  Non-frequent customer
40     1647                   25.0  Non-frequent customer
41     1647                   25.0  Non-frequent customer
42     2833                   13.0       Regular customer
43     2850                    7.0      Frequent customer
44     2857                   11.0       Regular customer
45     3010                    7.0      Frequent customer
46     3029                   28.0  Non-frequent customer
47     3395                   18.0       Regular customer
48     3904                   21.0  Non-frequent customer
49     4006                    7.0      Frequent customer

In [24]:
ords_prods_merge.loc[ords_prods_merge['median_order_duration'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['median_order_duration'] > 10) & (ords_prods_merge['median_order_duration'] <= 20), 'frequency_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['median_order_duration'] < 10, 'frequency_flag'] = 'Frequent customer'

In [27]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21576963
Regular customer          7216644
Non-frequent customer     3639423
Name: frequency_flag, dtype: int64

In [28]:
ords_prods_merge.shape

(32433030, 26)

In [31]:
# Checking accuracy
print(21576963 + 7216644 + 3639423)

32433030

In [30]:
ords_prods_merge.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,...,price_range,price_range_loc,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_flag,median_order_duration,frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,32,Regular customer,Low spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,Mid-range product,NaN,Mid-range product,Shortest days,Average orders,32,Regular customer,Low spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,Mid-range product,NaN,Mid-range product,Busiest days,Average orders,5,New customer,Low spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,3,New customer,Low spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,Mid-range product,NaN,Mid-range product,Shortest days,Average orders,3,New customer,Low spender,9.0,Frequent customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,...,Mid-range product,NaN,Mid-range product,Busiest days,Average orders,26,Regular customer,Low spender,11.0,Regular customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,...,Mid-range product,NaN,Mid-range product,Regularly busy,Most orders,9,New customer,Low spender,20.0,Regular customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,...,Mid-range product,NaN,Mid-range product,Shortest days,Most orders,12,Regular customer,Low spender,6.0,Frequent customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,...,Mid-range product,NaN,Mid-range product,Busiest days,Average orders,20,Regular customer,Low spender,10.0,Frequent customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,...,Mid-range product,NaN,Mid-range product,Busiest days,Most orders,20,Regular customer,Low spender,10.0,Frequent customer

In [34]:
# Export as pickle file
ords_prods_merge.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_aggregation.pkl'))